/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NAV     1
#define FUNC    2

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <180>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        combo_bksp {
            compatible = "zmk,behavior-combo";
            label = "COMBO_BKSP";
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp BKSP>;
        };

        combo_ent {
            compatible = "zmk,behavior-combo";
            label = "COMBO_ENT";
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&kp RET>;
        };

        combo_tab {
            compatible = "zmk,behavior-combo";
            label = "COMBO_TAB";
            timeout-ms = <50>;
            key-positions = <23 24>;
            bindings = <&kp TAB>;
        };

        combo_del {
            compatible = "zmk,behavior-combo";
            label = "COMBO_DEL";
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp DEL>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P
                &hm LSFT A &hm LCTL S &hm LALT D &hm LGUI F &kp G &kp H &hm LGUI J &hm RALT K &hm RCTL L &hm RSFT SCLN
                &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp CMMA &kp DOT &kp FSLH
                &lt FUNC ESC &lt NAV SPC &lt FUNC RET
            >;
        };

        nav_layer {
            bindings = <
                &kp NUM_1 &kp NUM_2 &kp NUM_3 &kp NUM_4 &kp NUM_5 &kp NUM_6 &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0
                &kp GRAV &trans &trans &trans &trans &kp LARW &kp DARW &kp UARW &kp RARW &kp QUOT
                &trans &kp LBKT &kp RBKT &kp ESC &kp BKSP &kp RET &kp BSLH &kp MINUS &kp EQL &trans
                &reset &trans &trans
            >;
        };

        func_layer {
            bindings = <
                &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10
                &kp F11 &kp F12 &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_PRV &bt BT_NXT
                &trans &trans &trans &trans &bootloader &trans &trans &cp M_VOLD &cp M_VOLU &trans
                &trans &reset &trans
            >;
        };
    };
};